<head>
	<title>YOLOv4 Image Processing Tool</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	<script type="text/javascript" src="../static/index.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
					$('a#curtain_blue').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/set_curtain_to_blue',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('a#curtain_white').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/set_curtain_to_white',
                function(data) {
              //do nothing
            });
            return false;
          });
					$('a#curtain_black').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/set_curtain_to_black',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
</head>
<body style="background-color: blue;">



<div class='App'>
    <header class='App-header' style='background-color: black'>
        <p><u>
					Window Detection & Processing Tool
        </u></p>
				<h3>Using YOLOv4</h3>
        <div className="pre_img">
					<h3 id=pre_upload_header>Upload an image with a window</h3>
					<h3 id=post_upload_header style="display: none; color: #4CAF50;">Here's how it will look!</h3>
          <span><img id="imagebox" src=""></span>
        </div>
        <form>
          <input id="imageinput" type="file" name="image" onchange="readUrl(this)">
        </form>
				<div class='container'>
				    <h3>Choose curtain fabric</h3>
				        <form>
									<a href=# id=curtain_blue><button class='btn btn-default'><img src="static/images/blue_curt_button.jpg" style="height:100px " class="curtain_choice" alt=""></button></a>
									<a href=# id=curtain_white><button class='btn btn-default'><img src="static/images/white_curt_button.png" style="height:100px " class="curtain_choice" alt=""></button></a>
									<a href=# id=curtain_black><button class='btn btn-default'><img src="static/images/black_curt_button.png" style="height:100px " class="curtain_choice" alt=""></button></a>
				        </form>


				</div>
			<button name="send" id = "sendbutton">Proceed</button>
	</header>
</div>

</body>
</html>
